@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font consistency */
body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
